.nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    height: 4rem;
    margin: 2rem;
}


@media (max-width: 768px) {
    .nav {
        justify-content: center;
    }
    .logo {
        width: 90vw;
        margin: 20px;
    }
}



footer {
    display: flex;
    width: 100%;
    background-color: #6b7982;
    position: absolute;
    bottom: 0;
}
footer a,span {
    color: white;
    text-decoration: 0;
    font-family: THM-Regular, serif;
    margin: 0 3px;
}
.footer-links {
    padding: 10px;
}
