.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 0 13vw;
    flex-direction: column;
}

body {
    min-height: calc(100vh - 20px);
    display: block;
    background-color: #f2f5f6;
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
}

h1 {
    font-family: THM-Medium, serif;
    font-size: 250%;
}

p {
    font-size: 120%;
}

footer {
    display: flex;
    width: 100%;
    background-color: #6b7982;
    position: absolute;
    bottom: -40px;
}
footer a,span {
    color: white;
    text-decoration: 0;
    font-family: THM-Regular, serif;
    margin: 0 3px;
}
.footer-links {
    padding: 10px;
}

@font-face {
    font-family: 'THM-Medium';
    src: url('../assets/D-DIN-PRO-500-Medium.otf'); /* IE9 Compat Modes */
    src: url('../assets/D-DIN-PRO-500-Medium.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/D-DIN-PRO-500-Medium.otf') format('otf'); /* Modern Browsers */
    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'THM-Regular';
    src: url('../assets/D-DIN-PRO-400-Regular.otf'); /* IE9 Compat Modes */
    src: url('../assets/D-DIN-PRO-400-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/D-DIN-PRO-400-Regular.otf') format('otf'); /* Modern Browsers */
    font-style:   normal;
    font-weight:  400;
}